* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;
  min-height: 100vh;
  background-color: rgb(34, 40, 49);
}
header {
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
  backdrop-filter: blur();
  background-color: #00ADB5;
}

.navbar-left ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left ul li {
  margin-right: 6vw;
  list-style: none;
}

.logo a {
  text-decoration: none;
  margin-left: 4vw;
  font-size: 3em;
  font-weight: 600;
  padding: 1vw;
  color: #EEEEEE;
}





.navbar-left ul li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  color: #EEEEEE;
}

.sidebar {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(50px);
  /* background-color: #eeeeee; */
  height: 100vh;
  width: 20vw;
  display: none;
}

.sidebar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}

.sidebar ul li {
  list-style: none;
  padding: 1vw;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  color: #eeeeee;
}

.menu-icon {
  display: none;
}

/* Hero */
.hero{
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #EEEEEE;
  
}


.left {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: ;
  margin-left: 4.5vw;

}

.hero h1 {
  color: #222831;
  font-size: 7vw;
  font-weight: 700;
}
.hero h1 span {
  color: #00adb5;
}

.sub-heding1 {
  color: #222831;
  font-size: 2vw;
  font-weight: 600;
}

.sub-heding1 span {
  color: #00adb5;
  font-size: 3vw;
  font-weight: 600;
}
.cta{
  margin-top: 10px;
  width: 15vw;
  height: 3vw;
  padding: 10px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  background-color: #00ADB5;
  font-size: 1em;
  font-weight: 700;
  transition: all 0.3s ease;
}

.cta:hover{
  background-color: #222831;
  color: #00ADB5;
}


@media (max-width: 850px) {
  .menu-icon {
    display: block;
  }
  .sidebar {
    width: 100%;
  }
  .hide-mobile {
    display: none;
  }

  .hero h1 {
    font-size: 11vw;
  }
  .sub-heding1 {
    font-size: 3.5vw;
  }

  .sub-heding1 span {
    font-size: 5vw;
  }

  .cta{
    font-size: 4vw;
    width: 45vw;
    height: 10vw;
    text-align: center;
  }
}
