* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;
  background-color: #222831;
}
header {
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.navbar-left ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left ul li {
  margin-right: 6vw;
  list-style: none;
}

.logo a {
  text-decoration: none;
  margin-left: 4vw;
  font-size: 2em;
  font-weight: 600;
  padding: 1vw;
  color: #eeeeee;
}

.navbar-left ul li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  color: #eeeeee;
}

.sidebar {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(50px);
  /* background-color: #eeeeee; */
  height: 100vh;
  width: 20vw;
  display: none;
}

.sidebar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
}

.sidebar ul li {
  list-style: none;
  padding: 1vw;
}

.sidebar ul li a {
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  color: #eeeeee;
}


.menu-icon{
  display: none;
}

@media (max-width: 850px) {
  .menu-icon{
    display: block;
  }
  .sidebar {
    display: ;
    width: 100%;
  }
  .hide-mobile {
    display: none;
  }
}
